body, html {
	height: 100%;
	margin: 0;
}

#section1 {
	height: 100%;
	width: 100%;
	/* background-color:black; */
	float:left;
	clear:none;
	
}

#section2 {
	height: 100%;
	width: 100%;
	background-color:#111;
	float:left;
	clear:none;
}

.background {
	/* The image used */
	background-image: url("https://live.staticflickr.com/4476/37578619812_407c6337d2_o.jpg");
	
	/* Full height */
	height: 100%; 
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Container holding the image and the text */
/* .container { */
	/* position: relative; */
	/* text-align: center; */
	/* color: white; */
/* } */

/* Centered text */
.centered {
	position: relative;
	top: 75%;
	left: 52%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: Courier, monospace;
	opacity: 0.7;
	font-size: 3.2vw;
}

.signature {
	position: absolute;
	/* max-width: 10%; */
	/* height: auto; */
	top: 0;
	left: 0;
	opacity: 0.7;
}

.button_down {
	position: absolute;
	bottom:5px;
	left: 50%;
	opacity: 0.6;
}

.button_up {
	position: absolute;
	bottom:-45px;
	left: 50%;
	opacity: 0.6;
}

.text{
	color: white;
	opacity: 0.8;
	font-family: Courier, monospace;
	font-size: 2.2vw;
}

.sidenav {
	position: absolute;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	/* opacity:0.8; */
	padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}