body, html {
	height: 100%;
	margin: 0;
}

#section1 {
	height: 100%;
	width: 100%;
}

#section2 {
	height: 100%;
	width: 100%;
}

.background {
	/* The image used */
	background-image: url("https://live.staticflickr.com/4476/37578619812_407c6337d2_o.jpg");
	
	/* Full height */
	height: 100%; 
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Container holding the image and the text */
/* .container { */
	/* position: relative; */
	/* text-align: center; */
	/* color: white; */
/* } */

/* Centered text */
.centered {
	position: relative;
	top: 75%;
	left: 52%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: Courier, monospace;
	opacity: 0.7;
	font-size: 3.2vw;
}

.signature {
	position: absolute;
	max-width: 10%;
	height: auto;
	top: 0;
	left: 0;
	opacity: 0.3;
}

.button_down {
	position: fixed;
	width: auto;
	height: auto;
	bottom:4px;
	left: 50%;
	opacity: 0.6;
}