body, html {
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;

}

@import "compass/css3";
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 2vw;}
}
#section1 {
	height: 100%;
	width: 100%;
	/* Params pour enlever la séparation entre les sections (bande blanche) */
	float:left; 
	clear:none; 
	
	/* Params pour enlever la bar de scroll */
	overflow:scroll;
    overflow-x:hidden;	
	overflow-y:hidden;
}

#section1::-webkit-scrollbar {  /* Params additionnels pour enlever la barre de scroll */
    width: 0px;
}

}
#section2::-webkit-scrollbar { /* Params additionnels pour enlever la barre de scroll */
    width: 0px;
}
#section2 {
	height: 100%;
	width: 100%;
	background-color:#111; /* couleur gris noir */ 
	/* Params pour enlever la séparation entre les sections (bande blanche) */
	/* background: rgb(91,91,91); */
/* background: linear-gradient(90deg, rgba(91,91,91,1) 0%, #111 100%); */
	float:left;  
	clear:none;
	
	/* Params pour enlever la bar de scroll */
	overflow:scroll;
    overflow-x:hidden;	
	overflow-y:hidden;
}
.line_left {
	position:absolute;
	border-left: 1.5px solid rgba(186, 186, 186, .1);
	height: 100%;
	left:33%
}
.line_left_left {
	position:absolute;
	border-left: 1.5px solid rgba(186, 186, 186, .1);
	height: 100%;
	left:4.7%
}
.line_right {
	position:absolute;
	border-left: 1.5px solid rgba(186, 186, 186, .1);
	height: 100%;
	right:33%
}
.line_right_right {
	position:absolute;
	border-left: 1.5px solid rgba(186, 186, 186, .1);
	height: 100%;
	right:4.7%
}

.background {
	/* The image used */
	background-image: url("Images/BW_sans-logo.jpg");
	
	/* Full height */
	height: 100%; 

	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* filter: grayscale(1) opacity(.8); */
}

/* Centered text */
.centered {
	position: relative; /* relative à la taille de la fenêtre */
	top: 75%;
	left: 52%;
	color: white;
	font-family: 'Cabin Sketch', cursive;
	opacity: 0.7;
	font-size: 3.2vw;  /* l'unité vw sert à garder la proportion de la font par rapport à la taille de la fenêtre */
	animation: glitch 1.5s linear infinite;
	cursor:default;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.7;
}

.button_down {
	position: absolute;
	bottom:5px;
	left: 49%;
	opacity: 0.6; 
}

.button_up {
	position: absolute;
	bottom:-45px;
	left: 49%;
	opacity: 0.6;
}

.text{
	color: white;
	opacity: 0.8;
	font-family: Courier, monospace;
	font-size: 1.8vw;
	cursor:default;
}
.text p {
	color: white;
	opacity: 0.8;
	font-family:'Cabin Sketch', cursive;
	font-size:4vw;
	text-align:center;
}


/***************** DEBUT Panel de navigation à droite ************************/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {  /* prefixé sur a pour n'avoir d'effet que sur les liens <a href> */
  padding: 8px 8px 8px 32px; 
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidenav p { /* prefixé sur a pour n'avoir d'effet que sur les paragraphes <p> */
  font-family:Courier, monospace;
  padding: 8px 8px 8px 128px;
  text-decoration: none;
  font-size: 0.8vw;
  color: #818181;
  display: flex;
  transition: 0.5s;
  /* position:fixed; */
  /* bottom:0; */
  justify-content: flex-end;
  /* align-items:flex-end; */
  
}

.animated a:hover { /* hover permet d'actionner les paramètres lorsque la souris est passé sur les lien <a href> de la class animated */
  color: #f1f1f1;
  font-size:40px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2.2vw;
  margin-left: 50px;
}
/***************** FIN Panel de navigation à droite ************************/


/**************DEBUT section glitch text animation ***************/
@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 2s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
/**************FIN section glitch text animation ***************/

/* #albums-selector { */
	/* display:flex; */
	/* justify-content:center; */
	  /* display: inline-block; */
  /* width: 10%; */
  /* height: 10%; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* cursor: pointer; */
  /* transition: all 200ms ease-in; */
  /* filter: grayscale(1) opacity(.8); */
  /* transform:scale(0.2); */
/* } */

/**************DEBUT section affichage album ***************/
.albums-selector {
	display:flex;
	justify-content:center;
}

.img-card {
  display: inline-block;
  width: 450px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 200ms ease-in;
  filter: grayscale(1) opacity(.8);
}


.img-card:hover {
	filter: grayscale(0) opacity(1);
}

.img1 {
  background-image: url(https://live.staticflickr.com/4492/37562161756_7aaceef3fd_b.jpg)
}
.img2 {
  background-image: url(https://live.staticflickr.com/7532/29613935314_71f541c2d0_b.jpg)
}
.img3 {
  background-image: url(https://live.staticflickr.com/7561/15740388041_d8d78c5f3d_b.jpg)
}
/**************FIN section affichage album ***************/

/**************section smoke text animation ***************/
/* .smoke { */
	/* color: white; */
	/* display: flex; */
	/* opacity: 0.8; */
	/* justify-content: center; */
	/* align-items:center;	 */
	/* font-family:'Cabin Sketch', cursive; */
	/* font-size:5vw; */
	/* text-align:center; */
	/* backface-visibility: hidden; */
	/* overflow:scroll; */
    /* overflow-x:hidden;	 */
	/* overflow-y:hidden; */
/* } */

/* span { */
  /* display: inline-block; */
  /* text-shadow: 0 0 0 whitesmoke; */
  /* animation: smoky 5s 3s both; */
/* } */

/* span:nth-child(even){ */
  /* animation-name: smoky-mirror; */
/* } */

/* @keyframes smoky { */
  /* 60% { */
    /* text-shadow: 0 0 40px whitesmoke; */
  /* } */
  /* to { */
    /* transform: */
      /* translate3d(15rem,-8rem,0) */
      /* rotate(-40deg) */
      /* skewX(70deg) */
      /* scale(1.5); */
    /* text-shadow: 0 0 20px whitesmoke; */
    /* opacity: 0; */
  /* } */
/* } */

/* @keyframes smoky-mirror { */
  /* 60% { */
    /* text-shadow: 0 0 40px whitesmoke; } */
  /* to { */
    /* transform: */
      /* translate3d(18rem,-8rem,0) */
      /* rotate(-40deg)  */
      /* skewX(-70deg) */
      /* scale(2); */
     /* text-shadow: 0 0 20px whitesmoke; */
    /* opacity: 0; */
  /* } */
/* } */

/* @for $item from 1 through 21 { */
  /* span:nth-of-type(#{$item}){  */
    /* animation-delay: #{(3 + ($item/10))}s;  */
  /* } */
/* }  */
/**************section smoke text animation ***************/