body, html {
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;

}

#section1 {
	height: 100%;
	width: 100%;
	/* Params pour enlever la séparation entre les sections (bande blanche) */
	float:left; 
	clear:none; 
	
	/* Params pour enlever la bar de scroll */
	overflow:scroll;
    overflow-x:hidden;	
	overflow-y:hidden;
}

#section1::-webkit-scrollbar {  /* Params additionnels pour enlever la barre de scroll */
    width: 0px;
}
}
#section2::-webkit-scrollbar { /* Params additionnels pour enlever la barre de scroll */
    width: 0px;
}
#section2 {
	height: 100%;
	width: 100%;
	background-color:#111; /* couleur gris noir */
	/* Params pour enlever la séparation entre les sections (bande blanche) */
	float:left;  
	clear:none;
	
	/* Params pour enlever la bar de scroll */
	overflow:scroll;
    overflow-x:hidden;	
	overflow-y:hidden;
}

.background {
	/* The image used */
	background-image: url("Images/BW_sans-logo.jpg");
	
	/* Full height */
	height: 100%; 
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Centered text */
.centered {
	position: relative; /* relative à la taille de la fenêtre */
	top: 75%;
	left: 52%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: Courier, monospace;
	opacity: 0.7;
	font-size: 3.2vw;  /* l'unité vw sert à garder la proportion de la font par rapport à la taille de la fenêtre */
}

.signature {
	position: fixed;
	/* max-width: 10%; */
	/* height: auto; */
	top: 0;
	left: 0;
	opacity: 0.7;
}

.button_down {
	position: absolute;
	bottom:5px;
	left: 50%;
	opacity: 0.6;
}

.button_up {
	position: absolute;
	bottom:-45px;
	left: 50%;
	opacity: 0.6;
}

.text{
	color: white;
	opacity: 0.8;
	font-family: Courier, monospace;
	font-size: 2vw;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {  /* prefixé sur a pour n'avoir d'effet que sur les liens <a href> */
  padding: 8px 8px 8px 32px; 
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidenav p { /* prefixé sur a pour n'avoir d'effet que sur les paragraphes <p> */
  padding: 8px 8px 8px 128px;
  text-decoration: none;
  font-size: 1vw;
  color: #818181;
  display: block;
  transition: 0.5s;
  position:fixed;
  bottom:0;
}

.animated a:hover { /* hover permet d'actionner les paramètres lorsque la souris est passé sur les lien <a href> de la class animated */
  color: #f1f1f1;
  font-size:40px;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2.2vw;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 2.2vw;}
}